.DS_Store

# Xcode user data
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift / Objective-C build artifacts
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
